name: Daily Bike Share Data Pipeline

on:
  schedule:
    # Runs at the start of every hour (00:00, 01:00, etc.)
    - cron: '0 * * * *'
  workflow_dispatch: # This line lets you click a "Run Now" button to test it

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run pipeline script
        env:
          # This passes the secret key from GitHub to your Python script
          GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        run: python main.py
